{% extends 'partials/base.html' %}
{% load static%}
{% block title %} Post Detail Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col">
                            <small>
                                {{ post.date_created}}
                            </small>
                                <span><a class="btn btn-danger float-right btn-sm" href="{% url 'myapp-delete' post.id %}">Delete</a></span>
                                <span><a class="btn btn-primary mx-2 float-right btn-sm" href="{% url 'myapp-edit' post.id %}">Edit</a></span>
                            <hr>
                            <h4>
                                {% if post.title %}
                                    제목: {{ post.title }}
                                {% else %}
                                    제목: No title
                                {% endif %}
                            </h4>
                            <p>
                                {% if post.content %}
                                    내용: {{ post.content }}
                                {% else %}
                                    내용: No content
                                {% endif %}
                            </p>
                            <p>
                                {% if post.data %}
                                    데이터파일명: {{ post.data.name }}
                                {% else %}
                                    데이터파일: No file
                                {% endif %}
                            </p>
                            <p>
                                {% if post.metadata %}
                                    어노테이션파일명: {{ post.metadata.name }}
                                {% else %}
                                    어노테이션파일: No file
                                {% endif %}
                            </p>
                            <div class="col-md-4">
                                {% if post.image %}
                                    <img class="img-thumbnail" src="{{ post.image.url }}" alt="data-img">
                                {% else %}
                                    No Image
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>    
{% endblock content %}
