{% extends 'partials/base.html' %}
{% block title %} Login Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-5 offset-md-6">
            
                <div class="card my-5 shadow">
                    <div class="card-body">
                        <h4>DaisLab Annotator</h4>
                        <hr>
                        <div class="text-left my-10">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <hr>
                            <input class="btn btn-primary btn-block" type="submit" value="Login">
                        </form>
                        </div>
                        </hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}